.card {
  background: rgba(255, 255, 255, 0.527);
  border-radius: 2px;
  height: 225px;
  margin: 1rem;
  position: relative;
  width: 225px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  float: left;
}
html {
  background: black;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

img {
  max-height: 200px;
  max-width: 200px;
  padding: auto;
}

img:hover {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg) scale(1.37);
}

#image-7 {
  max-width: 130px;
  margin-left: 55px;
}

#image-11 {
  margin-top: 30px;
  margin-left: 13px;
}

#image-3 {
  max-width: 130px;
  margin-left: 40px;
  margin-top: 7px;
}